{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Member Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/memC.css' %}">
</head>
<body>
    <div class="container">
        <h1>Create Member Profile</h1>
        <form method="post">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button type="submit">Complete Signup</button>
        </form>
    </div>
</body>
</html>